@{
    ViewBag.Title = "Rafitec S/A";
}

<div class="body_index">
    <div id="indvid">
        <video autoplay loop muted poster="~/img/poster.jpg">
            <source src="~/mp4/industria_rafitec.mp4" type="video/mp4">
        </video>

        <div class="container">
            <section class="banner">
                <h1>Rafitec <span></span><br><strong>APGR</strong></h1>
                <h2>Avaliação de Performance Gestores Rafitec</h2>
            </section>
        </div>

        <div class="conheca_mais">
            <div class="container">
                <a href="http://www.rafitec.com.br">Conheça +</a>
            </div>
        </div>
    </div>
    <hr class="linha_separador">
</div>